.interested{
  margin-top: 160px;
  text-align: center;
  background: var(--c-primary-lighter);
  padding: 116px 0;
}

.interested-heading{
  margin-bottom: 70px;
  font-weight: 600;
  font-size: 38px;
  color: #2D1D61;
}