.accordion{
  display: flex;
  align-items: center;
  gap: 30px;
  background: #FFFFFF;
  border: 1px solid #F3F4FE;
  box-shadow: 0px 20px 95px rgba(201, 203, 204, 0.3);
  border-radius: 10px;
  padding: 30px;
}

.accordion-icon{
  i {
    font-size: 30px;
    cursor: pointer;
  }
}

.accordion-text{
  font-weight: 600;
  font-size: var(--fz-18);
  color: #1B1139;
}
